<?xml version="1.0"?>
<launch>
    <arg name="namespace_prefix" default="ur5_rs_handeyecalibration" />
    <arg name="eye_on_hand" default="false" />

    <arg name="camera_namespace" default="/camera/color" />
    <arg name="robot_ip" default="169.254.162.54" />

    <arg name="marker_size" doc="Size of the ArUco marker used, in meters" default="0.09074" />
    <arg name="marker_id" doc="The ID of the ArUco marker used" default="582"/>

    <!-- start the realsense -->
  <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch">  
<!--  <arg name="serial_no"    		       default="f0270157"/> 		-->	
  <arg name="camera"              	   default="camera"/>	
  <arg name="align_depth"              default="true"/>
  <arg name="enable_pointcloud"        default="true"/>
  <arg name="color_width"              default="1280"/>
  <arg name="color_height"             default="720"/>
  <arg name="enable_color"             default="true"/>
  <arg name="depth_width"              default="1280"/>
  <arg name="depth_height"             default="720"/>
  <arg name="enable_depth"             default="true"/>
  <arg name="enable_infra2"             default="false"/>
</include> 

    <!-- start ArUco -->
    <node name="aruco_tracker" pkg="aruco_ros" type="single">
        <remap from="/camera_info" to="/camera/color/camera_info" />
        <remap from="/image" to="/camera/color/image_raw" />
        <param name="image_is_rectified" value="true"/>
        <param name="marker_size" value="$(arg marker_size)"/>
        <param name="marker_id" value="$(arg marker_id)"/>
        <param name="reference_frame" value="camera_color_optical_frame"/>
        <param name="camera_frame" value="camera_color_optical_frame"/>
        <param name="marker_frame" value="camera_marker" />
    </node>


    <!-- 3. start the robot -->
    <include file="$(find ur_modern_driver)/launch/ur5_bringup.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
    </include>
    
    
    <include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch"> </include>
    <include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch" > </include>
    
</launch>

